{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ request.scheme }}://{{ request.get_host }}/{% static 'users/css/style.css' %}">
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="{% url 'users:signup' %}" method="POST">
                <h3 class="text-center mb-3">Регистрация</h3>
                <a class="btn btn-primary btn-sm rounded" data-bs-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    ?
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {% for field in form %}
                            {% if field.help_text %}
                                <p>{{ field.label }}</p>
                                <p>{{ field.help_text }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="alert alert-info my-1" role="alert">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}
                <input type="submit" value="Зарегистрироваться">
                <p class="message">Уже зарегистрированы? <a href="{% url 'users:login' %}">Войти</a></p>
            </form>
        </div>
    </div>

{% endblock %}